*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.all{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.281),rgba(0, 0, 0, 0.274)),url("https://media.istockphoto.com/id/1341408852/video/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke.jpg?s=640x640&k=20&c=v2DQUY8IVbli_6FH_9KAs6YWRXlDdYiBJHfp7JFh7NY=");
    background-size: cover;
    background-position: center;

}
.navbar{
    width:85%;
    margin: auto;
    padding:35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.web h1{
    font-size:50px;
    color:white;
    text-align: center;
    margin-top:10%;
}
.web p{
    color:white;
    text-align: center;
}
.logo{
    width:120px;
    cursor:pointer;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin:0 20px ;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    width:0%;
    height:3px;
    background: #009688;
    position:absolute;
    left:0;
    color:#fff;
    bottom:-2px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.navbar button{
    color:white;
    background: none;
    border:1px solid #009688;
    border-radius:8px;
    width:100px;
    height:40px;
    transition: 1s;
}
.navbar button:hover{
    background: #009688;
}
.sign-up form{
    display:flex;
    flex-direction: column;
    max-width:300px;
    margin-left: 15%;
    margin-top:25px;
}
.sign-up{
    display: none;
    background: rgba(0, 0, 0, 0.144);
    max-width:30%;
    height:450px;
    border: 2px solid #009688;
    border-radius: 10px;
    margin-left:40%;
}
.sign-up form img{
    width:35px;
    margin-left: 100%;
}
.sign-up form h2{
    color:#fff;
    text-align: center;
}
.sign-up form input{
    max-width:500px;
    height:50px;
    background:rgba(0, 0, 0, 0.199);
    color:#fff;
    border:1px solid #009688;
    border-radius: 8px;

}
.sign-up form button{
    max-width:500px;
    height:50px;
    background: none;
    border:1px solid #009688;
    border-radius: 8px;
    color:#009688;
    margin-top: 1%;
    transition: 1s;
}
.sign-up form button:hover{
    color:white;
    background: #009688;
}
.sign-in{
    display: none;
    background: rgba(0, 0, 0, 0.144);
    max-width:30%;
    height:300px;
    border: 2px solid #009688;
    border-radius: 10px;
    margin-left:40%;
}
.sign-in form{
    display:flex;
    flex-direction: column;
    max-width:300px;
    margin-left: 15%;
    margin-top:25px;
}
.sign-in form img{
    width:35px;
    margin-left: 100%;
}
.sign-in form a{
    text-decoration: none;
    color:#009688;
    font-size: 15px;
}
.sign-in form h2{
    color:#fff;
    text-align: center;
}
.sign-in form input{
    max-width:500px;
    height:50px;
    background:rgba(0, 0, 0, 0.199);
    color:#fff;
    border:1px solid #009688;
    border-radius: 8px;

}
.sign-in form button{
    max-width:500px;
    height:50px;
    background: none;
    border:1px solid #009688;
    border-radius: 8px;
    color:#009688;
    margin-top: 1%;
    transition: 1s;
}
.sign-in form button:hover{
    color:white;
    background: #009688;
}
.less3{
    width:35px;
    margin-left: 60%;
}
.home span img{
    max-width:350px;
    width:100%;
   margin-left:10%;
}
.home span{
    color:white;
}
.home h2{
    color:white;
    margin-left:20%;
}
.home{
    display: none;
    margin-left: 35%;
}
.about span img{
    max-width:350px;
    width:100%;
   margin-left:10%;
}
.about span{
    color:white;
}
.about h2{
    color:white;
    margin-left:20%;
}
.about{
    display: none;
    margin-left: 35%;
}
.contact{
    display:none;
    margin-left:20%;
}
.contact h2{
    color:white;
    margin-left: 20%;
}
.contact p{
    color:white;
    
}

.c{
    max-width:50px;
    width:100%;
    border-radius: 360px;
}